<?php
/** @var CartHelper $cartHelper */
/** @var StoreConfigHelper $configHelper */

use Dividebuy\Common\Utility\CartHelper;
use Dividebuy\Common\Utility\StoreConfigHelper;

$cartHelper = $this->getCartHelper();
$configHelper = $this->getConfigHelper();

$checkCart = $cartHelper->getItemArray();
$checkMinimumOrder = $cartHelper->checkMinOrderAmount();
$checkMaximumOrder = $cartHelper->checkMaxOrderAmount();
$currencySymbol = $this->getSymbol();
$checkoutWithCouponFlag = $cartHelper->checkoutWithCouponCode();
$isSoftSearchEnable = $configHelper->isCheckoutSoftSearchEnabled();
$availableInstalmentsHtml = $cartHelper->getAvailableInstalments();

if (!$isSoftSearchEnable) : ?>
    <style>
        .dividebuy-payment-method #dividebuy-softsearch{
            display: none;
        }
    </style>
<?php endif; ?>

<script type="text/javascript">

    require([
            "jquery",
            "dividebuy",
        ],
        function ($) {
            $(document).ready(function () {

                // Code for when to checked and unchecked the dbpayment radio button
                $(document).bind('DOMNodeInserted', function (event) {
                    if (jQuery('.modal-popup').hasClass('_show') || jQuery(".loader-set").is(":visible")) {
                        $("#dbpayment").prop("checked", true);
                    }
                });

                /* Code to disabled the dbpayment radio button and display tooltip
                if order is below minimum order or maximum */
              <?php if (!$checkMinimumOrder || !$checkMaximumOrder): ?>

                $(document).bind('DOMNodeInserted', function (event) {
                    $('#dbpayment-modal').prop('disabled', true);

                });
                $(document).on('mousemove', "#dbpayment", function (e) {
                    mousemovebtn(e, this)
                });
                $(document).on('mousemove', ".dbpayment", function (e) {
                    mousemovebtn(e, this)
                });
              <?php elseif (!$checkoutWithCouponFlag) : ?>
                $(document).bind('DOMNodeInserted', function (event) {
                    $("#dbpayment").attr("disabled", "disabled");
                    $(".dbpayment").css("opacity", "0.6");
                });
                $(document).on('mousemove', "#dbpayment", function (e) {
                    mousemovebtn(e, this)
                });
                $(document).on('mousemove', ".dbpayment", function (e) {
                    mousemovebtn(e, this)
                });
                $(document).on({
                    mouseenter: function () {
                        // Hover code
                        var content = "<div class='dividebuy-slip_tooltip_container slip_tooltip_container coupon-box'><div class='slip_tooltip_content'><span class='tooltip-box'>This coupon code cannot be used in conjunction with Interest-Free Credit.</span></div></div>";
                        if (!($('body').find('.slip_tooltip_container').length)) {
                            $(content).appendTo('body').fadeIn('slow');
                        }
                    },
                    mouseleave: function () {
                        // Hover out code
                        $('.slip_tooltip_container').remove();
                    }
                }, '#dbpayment, .dbpayment');
              <?php endif;?>
                $(document).bind('DOMNodeInserted', function (event) {
                  <?php if (!$isSoftSearchEnable) : ?>
                    $(document).find('#dividebuy-softsearch').html('');
                  <?php endif; ?>
                    if ($('#dividebuy-available-instalments').html() == '') {
                        $('#dividebuy-available-instalments').html("<?php echo $availableInstalmentsHtml; ?>");
                    }
                });

                // Code for changing div class when instalment value changed by user.
                $(document).on("change", "input[name=dividebuy_available_instalments]", function () {
                    //first remove class from all
                    $('input[name=dividebuy_available_instalments]').parents('div.dividebuy-checkout-row').removeClass("dividebuy-active-row");

                    //now add the class to checked radio
                    if ($(this).is(":checked")) {
                        $(this).parents('div.dividebuy-checkout-row').addClass("dividebuy-active-row");
                    }
                });

                // below snippet will update the available instalment after 5 sec whenever the apply coupon request is fired
                var open = window.XMLHttpRequest.prototype.open,
                    send = window.XMLHttpRequest.prototype.send;

                function openReplacement(method, url, async, user, password) {
                    this._url = url;

                    if (url.includes("coupons") || url.endsWith('shipping-information')) {
                        setTimeout(function () {
                            var instalmentsUrl = '<?php echo $this->getUrl(
                              "checkoutconfig/index/getavailableinstallments"
                            ); ?>';
                            getAvailableInstallments(instalmentsUrl);
                        }, 5000);
                    }

                    return open.apply(this, arguments);
                }

                window.XMLHttpRequest.prototype.open = openReplacement;
            });
        });
</script>
<!-- Adding modal.phtml as child html -->
<?php echo $this->getChildHtml('dividebuy.checkout.modal'); ?>
