<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method dividebuy-payment-method" data-bind="css: {'_active': (getCode() == isChecked())}"
     tabindex="0">
    <div class="payment-method-title field choice">
        <input class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
               name="payment[method]"
               type="radio"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- PayPal Logo -->
            <img class="payment-icon dbpayment"
                 data-bind="attr: {src: getDivideBuySrc(), alt: $t('Dividebuy payment method')}"/>
            <!-- PayPal Logo -->
            <!--span data-bind="text: getTitle()"></span-->

        </label>
        <div id="dividebuy-softsearch">
            <div class="dividebuy-softsearch">
                <a class="link-dividebuy-softsearch" href="javascript:void(0)"><span>Check your eligibility </span></a>
            </div>
        </div>
    </div>
    <div class="payment-method-content">
        <div class="actions-toolbar">
            <div class="primary">
                <div id="dividebuy-available-instalments"></div>
                <button class="action primary checkout dbpayment" id="dbpayment-modal"
                        type="button">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
